In [5]:
import pandas as pd
tabl = pd.read_excel ('111.xls')
tabl.head(20)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
0,Себестоимость товаров организаций,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Параметры:,NaN,Период: 30.09.2022 - 30.09.2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,Данные по себестоимости: В валюте упр. учета,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,Исключать перемещения: Да,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Отбор:,NaN,"Организация Равно ""ООО ""НТЦ ""ЗЭРС""""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Организация,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Начальный остаток,NaN,Приход,NaN,Расход,NaN,Конечный остаток,NaN
8,Склад,NaN,NaN,"Номенклатура, Артикул, Ед. изм.",NaN,Серия,NaN,NaN,NaN,Количество,Себестоимость,Количество,Себестоимость,Количество,Себестоимость,Количество,Себестоимость
9,"ООО ""НТЦ ""ЗЭРС""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,196606.693,892218021.39,462,16786515.42,2840,27549384.08,194228.693,881455152.73
10,Склад оборудования г. Нефтекамск (Серии),NaN,NaN,"НЕ ИСПОЛЬЗОВАТЬ!!! ПП.3-83/3-102.000, 00-0001...",NaN,0914-003-01-777-1222,NaN,NaN,NaN,1,6732.37,NaN,NaN,NaN,NaN,1,6732.37
11,Склад оборудования г. Нефтекамск (Серии),NaN,NaN,"НЕ ИСПОЛЬЗОВАТЬ!!! ПП.3-83/3-102.000, 00-0001...",NaN,0914-004-01-777-1222,NaN,NaN,NaN,1,6732.37,NaN,NaN,NaN,NaN,1,6732.37
12,Склад оборудования г. Нефтекамск (Серии),NaN,NaN,"НЕ ИСПОЛЬЗОВАТЬ!!! ПП.3-83/3-102.000, 00-0001...",NaN,0914-005-01-777-1222,NaN,NaN,NaN,1,6732.37,NaN,NaN,NaN,NaN,1,6732.37
13,Склад оборудования г. Бузулук (Серии),NaN,NaN,"НЕ ИСПОЛЬЗОВАТЬ!!! ПП.3-83/3-102.000, 00-0001...",NaN,0914-006-01-777-1222,NaN,NaN,NaN,1,6732.37,NaN,NaN,NaN,NaN,1,6732.37
14,Склад оборудования г. Рязань (Серии),NaN,NaN,"!!!НЕ ИСПОЛЬЗОВАТЬ Кольцо 024-030-36-2-4, 00-0...",NaN,NaN,NaN,NaN,NaN,2,17.32,NaN,NaN,2,17.32,NaN,NaN
15,Склад оборудования г. Ноябрьск (Серии),NaN,NaN,"!!!НЕ ИСПОЛЬЗОВАТЬ Кольцо 120-126-36-2-5, 00-В...",NaN,0121-020-00132-0123,NaN,NaN,NaN,54,5400,NaN,NaN,NaN,NaN,54,5400
16,Склад ПФ НТЦ,NaN,NaN,".10-24 винт установочный, 00-В0029014, шт",NaN,NaN,NaN,NaN,NaN,16,148.75,NaN,NaN,NaN,NaN,16,148.75
17,Склад оборудования г. Бузулук (Серии),NaN,NaN,"044-048-25 Кольцо уплотнительное, 00-В0050300, шт",NaN,0422-135-01178,NaN,NaN,NaN,24,4800,NaN,NaN,NaN,NaN,24,4800
18,Склад оборудования г. Бузулук (Серии),NaN,NaN,"11-118-03 Винт, 00-В0050294, шт",NaN,0322-053-135,NaN,NaN,NaN,9,1800,NaN,NaN,NaN,NaN,9,1800
19,Склад оборудования г. Бузулук (Серии),NaN,NaN,"11-118-18 Кольцо защитное, 00-В0050292, шт",NaN,0322-053-135,NaN,NaN,NaN,7,980,NaN,NaN,NaN,NaN,7,980

In [7]:
tabl.columns

Index(['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4',
       'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9',
       'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13',
       'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16'],
      dtype='object')

In [37]:
tabl = tabl.drop ([8,9], axis=0)
tabl

,Склад,Номенклатура,Серия,Количество,Себестоимость
10,Склад оборудования г. Нефтекамск (Серии),"НЕ ИСПОЛЬЗОВАТЬ!!! ПП.3-83/3-102.000, 00-0001...",0914-003-01-777-1222,1,6732.37
11,Склад оборудования г. Нефтекамск (Серии),"НЕ ИСПОЛЬЗОВАТЬ!!! ПП.3-83/3-102.000, 00-0001...",0914-004-01-777-1222,1,6732.37
12,Склад оборудования г. Нефтекамск (Серии),"НЕ ИСПОЛЬЗОВАТЬ!!! ПП.3-83/3-102.000, 00-0001...",0914-005-01-777-1222,1,6732.37
13,Склад оборудования г. Бузулук (Серии),"НЕ ИСПОЛЬЗОВАТЬ!!! ПП.3-83/3-102.000, 00-0001...",0914-006-01-777-1222,1,6732.37
14,Склад оборудования г. Рязань (Серии),"!!!НЕ ИСПОЛЬЗОВАТЬ Кольцо 024-030-36-2-4, 00-0...",NaN,2,17.32
...,...,...,...,...,...
10987,Газпромнефть Ямал серии,"ЯГР.178/245-У.000-ОТТГ, 00-00037596, шт",0220-004-01-100-0222,1,134895.92
10988,Газпромнефть Ямал серии,"ЯГР.178/245.000-ОТТГ, 00-00027115, шт",1019-009-01-002-1021,1,180955.51
10989,Склад оборудования г. Рязань (Серии),"ЯГР.178/245.000-ОТТГ, 00-00027115, шт",1019-011-01-002-1021,1,180955.51
10990,Склад оборудования г. Рязань (Серии),"ЯГР2.89/146.010.000, 00-00039598, шт",1117-200012-61-000-1119,1,80000
10991,Итого,NaN,NaN,196606.693,892218021.39

In [35]:
tabl = tabl.rename({'Unnamed: 10': 'Себестоимость'}, axis=1)

In [43]:
#tabl2 = pd.read_excel ('123.xls')
tabl2.head(15)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
0,Параметры:,NaN,Контрагент: НТЦ ЗЭРС ООО,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,"Организация: ООО ""НПО ""ЗЭРС""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,Период: 01.10.2021 - 30.09.2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Организация,NaN,NaN,NaN,NaN,NaN,NaN,Выручка,Себестоимость,Количество,Себестоимость за ш т. (НПО),Себестоимость (НПО),Себестоимость за ш т. (НТЦ),Себестоимость (НТЦ),Валовая прибыль,Рентабельность
5,Контрагент,NaN,NaN,NaN,NaN,Договор,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Номенклатура,NaN,NaN,NaN,NaN,Серия,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,"ООО ""НПО ""ЗЭРС""",NaN,NaN,NaN,NaN,NaN,NaN,1512954798.45,1136803580.86,2080206.9,NaN,1070334636.19,NaN,66468944.67,376151217.59,24.86
8,Абрамов Александр Михайлович,NaN,NaN,NaN,NaN,Заявление,NaN,4687.5,6689.52,325,NaN,NaN,NaN,6689.52,-2002.02,-42.71
9,Лом обрезь и детали ч/м,NaN,NaN,NaN,NaN,NaN,NaN,4687.5,6689.52,325,NaN,NaN,20.58,6689.52,-2002.02,-42.71
10,АВТОСПЕЦМАРКЕТ ПО ООО,NaN,NaN,NaN,NaN,Счет,NaN,2060070,2080773.13,775800,NaN,NaN,NaN,2080773.13,-20703.13,-1
11,Винт М10*1*6 45Н DIN 916,NaN,NaN,NaN,NaN,NaN,NaN,772740,918540,291600,NaN,NaN,3.15,918540,-145800,-18.87
12,Винт М10*1*6 DIN 916,NaN,NaN,NaN,NaN,NaN,NaN,686880,348975,259200,NaN,NaN,1.35,348975,337905,49.19
13,Винт М8*1*6 45Н DIN 916,NaN,NaN,NaN,NaN,NaN,NaN,484950,485867.17,183000,NaN,NaN,2.66,485867.17,-917.17,-0.19
14,М10.1-8Н45-DIN916 Винт,NaN,NaN,NaN,NaN,1290-999-77777,NaN,115500,327390.96,42000,NaN,NaN,7.8,327390.96,-211890.96,-183.46

In [54]:
tabl2 = tabl2.drop ([4], axis=0)
tabl2

,Наименование,Серия,Себестоимость,Количество
8,Абрамов Александр Михайлович,Заявление,6689.52,325
9,Лом обрезь и детали ч/м,NaN,6689.52,325
10,АВТОСПЕЦМАРКЕТ ПО ООО,Счет,2080773.13,775800
11,Винт М10*1*6 45Н DIN 916,NaN,918540,291600
12,Винт М10*1*6 DIN 916,NaN,348975,259200
...,...,...,...,...
15084,Шеина Наталья Васильевна,Заявление на лом,2966.27,180
15085,Лом обрезь и детали ч/м,NaN,2966.27,180
15086,Якунин Александр Владимирович,Заявление на лом,7967.35,400
15087,Лом обрезь и детали ч/м,NaN,7967.35,400
15088,Итого,NaN,1136803580.86,2080206.9

In [53]:
tabl2 = tabl2.rename({'Unnamed: 0': 'Наименование','Unnamed: 5': 'Серия', 'Unnamed: 8': 'Себестоимость', 'Unnamed: 9': 'Количество' }, axis=1)

In [57]:
#tabl3 = pd.merge(tabl, tabl2, how='left', left_on=['Номенклатура', 'Серия'], right_on=['Наименование', 'Серия'])
tabl3

,Склад,Номенклатура,Серия,Количество_x,Себестоимость_x,Наименование,Себестоимость_y,Количество_y
0,Склад оборудования г. Нефтекамск (Серии),"НЕ ИСПОЛЬЗОВАТЬ!!! ПП.3-83/3-102.000, 00-0001...",0914-003-01-777-1222,1,6732.37,NaN,NaN,NaN
1,Склад оборудования г. Нефтекамск (Серии),"НЕ ИСПОЛЬЗОВАТЬ!!! ПП.3-83/3-102.000, 00-0001...",0914-004-01-777-1222,1,6732.37,NaN,NaN,NaN
2,Склад оборудования г. Нефтекамск (Серии),"НЕ ИСПОЛЬЗОВАТЬ!!! ПП.3-83/3-102.000, 00-0001...",0914-005-01-777-1222,1,6732.37,NaN,NaN,NaN
3,Склад оборудования г. Бузулук (Серии),"НЕ ИСПОЛЬЗОВАТЬ!!! ПП.3-83/3-102.000, 00-0001...",0914-006-01-777-1222,1,6732.37,NaN,NaN,NaN
4,Склад оборудования г. Рязань (Серии),"!!!НЕ ИСПОЛЬЗОВАТЬ Кольцо 024-030-36-2-4, 00-0...",NaN,2,17.32,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
10977,Газпромнефть Ямал серии,"ЯГР.178/245-У.000-ОТТГ, 00-00037596, шт",0220-004-01-100-0222,1,134895.92,NaN,NaN,NaN
10978,Газпромнефть Ямал серии,"ЯГР.178/245.000-ОТТГ, 00-00027115, шт",1019-009-01-002-1021,1,180955.51,NaN,NaN,NaN
10979,Склад оборудования г. Рязань (Серии),"ЯГР.178/245.000-ОТТГ, 00-00027115, шт",1019-011-01-002-1021,1,180955.51,NaN,NaN,NaN
10980,Склад оборудования г. Рязань (Серии),"ЯГР2.89/146.010.000, 00-00039598, шт",1117-200012-61-000-1119,1,80000,NaN,NaN,NaN
10981,Итого,NaN,NaN,196606.693,892218021.39,NaN,NaN,NaN

In [59]:
tabl3.to_excel("output.xlsx")

In [70]:
tabl['Количество'].astype (int)
tabl.info ()

ValueError: cannot convert float NaN to integer

In [68]:
tabl['Номенклатура'] = tabl['Номенклатура'].apply(lambda x: x [:len(x)-16])

TypeError: object of type 'float' has no len()